flows/Account_after_rt_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_record_variable_to_collection</name>
        <label>Assign record variable to collection</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Teammemberslist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Teammember1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Teammemberslist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TeamMember2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cszfe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_team_members</name>
        <label>Assign the team members</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Teammember1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Team Member 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Teammember1.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamMember2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Team Member 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamMember2.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_record_variable_to_collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account after rt flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account after rt flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Createteammembers</name>
        <label>Createteammembers</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputReference>Teammemberslist</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>cszfe</name>
        <label>cszfe</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Createteammembers</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_the_team_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Teammember1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SQX_Team_Members__c</objectType>
    </variables>
    <variables>
        <name>TeamMember2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SQX_Team_Members__c</objectType>
    </variables>
    <variables>
        <name>Teammemberslist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SQX_Team_Members__c</objectType>
    </variables>
</Flow>
